
body, .btn {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.5rem;
}

html,body{margin:0px;height:100%;width:100%}

h1 {
    margin: 3rem 0 2rem;
    font-size: 4rem;
}
.hide-init {
    display: none;
}

.begin-para {
    margin-bottom: 3rem;
}

.imageWrapper, .commonnameWrapper {
    clear: both;
}

.speciesImage {
    max-width: 100px;
}

.commonname {
    padding: 20px;
}

.localSpeciesCard {
    border: 0.1rem solid lightgray;
    border-radius: 0.5rem;
    width: fit-content;
    float: left;
    margin: 0 1rem 1rem 0;
    padding: 0.75rem 1rem 0.3rem;
}

.localSpeciesCard .localSpeciesCardImage img {
    height: 16rem;
}

.localSpeciesCardText {
    font-size: 0.9rem;
}

.local-life-content {
    min-height: 80vh;
    padding-bottom: 15rem;
}

.headerPlaceholder {
    height: 8rem;
    background-color: grey;
}

.footerPlaceholder {
    height: 8rem;
    background-color: grey;
    clear: both;
}

.mapContainer{
    float: right;
    width: 57%;
    height: 15rem;
    margin-bottom: 1rem;
}

.suggestion {
    color: blue;
    margin: 5px;
}
