
body, .btn {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.5rem;
}

html,body{margin:0px;height:100%;width:100%}

h1 {
    margin: 5rem 0 3rem;
    font-size: 4rem;
}
.hide-init {
    display: none;
}

.begin-para {
    margin-bottom: 3rem;
}

.imageWrapper, .commonnameWrapper {
    clear: both;
}

.speciesImage {
    max-width: 100px;
}

.commonname {
    padding: 20px;
}

.localSpeciesCard {
    border: 0.1rem solid lightgray;
    border-radius: 0.5rem;
    padding: 1rem;
    width: fit-content;
    float: left;
    margin: 0 1rem 1rem 0;
}

.localSpeciesCardImage img {
    height: 6rem;
}

.localSpeciesCardText {
    font-size: 0.7rem;
}

.mapContainer{
    float: right;
    width: 57%;
    height: 15rem; 
    margin-bottom: 1rem;
}
